In [3]:
import pandas as pd
df=pd.read_csv('C:\\Users\\GPT BANTWAL\\Desktop\\mtcars.csv')
df

  variables          description                  categories
0       mpg     miles/(us)gallon                         NaN
1       cyl  number of cylinders                       4,6,8
2      disp         displacement                         NaN
3        hp     gross horsepower                         NaN
4      drat      rear axle ratio                         NaN
5        wt               weight                         NaN
6        am    transmission type  0,1(0-automatic; 1-manual)